/*
/*/

!.gitignore
!/Assets/Tayx/Graphy - Ultimate Stats Monitor
!/ProjectSettings/

 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
