# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/

# Git meta files
!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!/ProjectSettings/
!/Assets/
/Assets/*
!/Assets/Tayx/
