# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/

# Git meta files
!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!/ProjectSettings/
!/Assets/                                       # Add Assets folder, but ...
#/Assets/*                                       # Remove everything under Assets again.
#!/Assets/Tayx/Graphy - Ultimate Stats Monitor/*  # Now add back our core folder.

